div#add {
    display: flex; 
    width: 100%;    
    align-items: center;
    gap: 10px;
  }

div#add > input[type="text"] {
    flex-grow: 1;
    min-width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
  }

div#add > button {
    width: 120px;
    height: 38px;
    border-radius: 4px;
    border-color: lightgray;
    background-color: white;
  }